.cell {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.invalid {
  border: 3px solid red;
}

.active {
  background-color: lightgrey;
}
